.form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background: white;
  border-radius: 1rem;
  transition: border 0.3s;
}

.form_control span, .form_control textarea, .form_control input {
    font-size: 1.5rem;
}

@media (max-width: 360px) {
  .form, .form_control span, .form_control textarea, .form_control input {
    font-size: 1.2rem;
  }
}
